{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-danger">Ошибка 500</h1>

    <p class="lead">Внутренняя ошибка сервера</p>
    <p>Мы о ней знаем и скоро ее исправим!</p>

{% endblock %}