{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-danger">Ошибка 404</h1>

    <p class="lead">Страница, на которую вы попали, не существует.</p>
    <p>Вы можете попробовать следующее:<br>
        - <a href="{{ path('homepage') }}">Перейти к главной странице сайта</a><br>
        - Проверить правильность введенного адреса<br>
        - Вернуться туда, откуда пришли (<span style="font-style: italic;">нажать кнопку «Назад» в своем браузере</span>)
    </p>

{% endblock %}